
<!-- <div [ngClass]="{'row': a === 0 || a % 3 === 0}"></div> -->

    <!-- <ng-container *ngFor="let i of [].constructor(numberOfPanel); let a = index"> -->
    <div class="row" style="justify-content: center;">
        <ng-container *ngFor="let i of listOfPanel; let a = index">
            <ng-container *ngIf="listOfPanel"  >
                    
                        <app-dict-panel-card [cardIndex]="a+1" class=""></app-dict-panel-card>
                 
                   
            </ng-container>
        </ng-container> 
    </div>
    


